<!DOCTYPE html>
<html>
<head>

<link href="css/styles.css" rel="stylesheet">
</head>

<body>

<h1>Akin's Twitter Bot</h1>
<li>Every action ever taken on this account: <a href="https://twitter.com/incertotech">@incertotech<a/> was done progamatically via Node.js.</li>

<li>Each hour this bot retweet's recent tweets with one of the following hashtags: #nodejs, #express, #ES6</li>
<li>Each hour this bot likes recent tweets with one of the following hashtags: #github, #docker, #fullstack</li>
<br>

<a class="twitter-timeline" href="https://twitter.com/incertotech?ref_src=twsrc%5Etfw">Tweets by incertotech</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>
</html>

